@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont.ttf') format('truetype');
}


body {
  margin: 0; /* Reset default body margin */
  font-family: 'Inter', sans-serif; /* Apply Inter font to the entire page */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App {
  text-align: center;
}

.detailsButton {
  margin-top: -5rem;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.sml-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.App-header {
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.logoimg {
  position: relative; /* Add this line */
  width: 6rem;
  mix-blend-mode: difference;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.splinewrap {
  position: relative; /* Add this line */
  margin-top: -10rem;

}

@media (max-width: 768px) {
  .splinewrap {
    height: 90vh;
  }
}

h2 {
  margin-top: 2rem;
  position: relative; /* Add this line */
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 3;
}

span {
  font-weight: 700;
  mix-blend-mode: difference;
}

h3 {
  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.space-large{
  margin-bottom: 30vh; /* Adjust the value to set the desired space */
}

.space-small {
  margin-bottom: 10vh; /* Adjust the value to set the desired space */
}

.card {
  /* Adjust width and height if needed */
  border-radius: 1.5625rem;
  background: rgba(217, 217, 217, 0.16);
  border: 1px solid rgba(0, 0, 0, 0.11);
  width: 20rem;
  height: 25.1875rem;
  flex-shrink: 0;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  margin: auto;
}

.card:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.card.flipped {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}

.cardHeader {
  border-radius: 1.5625rem 1.5625rem 0rem 0rem;
  background: #1B1B1C;
  height: 2.25rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.productLogo{
  width: 4.875rem;
  height: 1.1875rem;
  flex-shrink: 0;
  margin-left: 0.69rem;
  align-self: center;
}

.antheaLogo {
  width: 1.3125rem;
  height: 0.9375rem;
  flex-shrink: 0;
  margin-right: 0.69rem;
  align-self: center;
}

.cardRow {
  display: flex;
}

.cardColumn {
  text-align: left;
}

h4 {
  color: #000;
  font-family: 'Inter';
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 5.11925rem;
  text-align: left;
  margin-left: 0.56rem;
}

h5 {
  color: #000;
  font-family: 'Inter';
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.applPay {
  width: 8.8125rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  margin-top: 2.5rem;
}

.imgBackCard {
  width: inherit;
  height: 90%;
  object-fit: cover;
  border-radius: 1.5625rem;
  z-index: -1;
}

.imgCaption {
  margin-top: -1.5rem;
  text-align: center;
}
